@import "../../../../../scss/general";

.positioning_container{
  position: relative;
  &.hidden{
    opacity: 0;
    pointer-events: none;
  }
  .frame{
    min-width: 100px;
    min-height: 50px;
    display: flex;
    align-items: flex-start;
    background-color: #408eff;
    flex-direction: column;
    padding: 10px;
    &_radio_container{
      margin-top: 8px;
    }
  }
  .close{
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: $main;
    border-radius: 50%;
    top: 10px;
    right: 10px;
  }
}